#wrapper {
  margin: 0 auto;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(241, 255, 228, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: cover;
}

#site-header,
#site-main,
#site-footer {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px !important;
}

/* Header Styles */
#navBar {
  max-width: 320px;
}

#siteName {
  min-width: 320px;
}

.Subhead {
  flex-basis: 100%;
}
/* Main Styles */

#site-main {
  height: 100vh;
}

#books-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.book {
  text-align: justify;
  padding: 20px;
  margin: 20px;
  height: 320px;
  width: 275px;
  border: 1px solid bisque;
  box-shadow: 1px 1px 4px rgb(182, 182, 182);
}
/* Footer Styles */

/* Modal Codes */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: none;
  height: 100%;
  width: 100%;
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 480px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
