body,
html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0 auto;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(241, 255, 228, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: cover;
}

#site-header,
#site-main,
#site-footer {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px !important;
}

/* Header Styles */
#navBar {
  max-width: 320px;
}

#siteName {
  min-width: 320px;
}

#site-main {
  display: flex;
  justify-content: center;
}

.jumbo-text {
  font-size: 4rem;
}

#home-ss-wrapper img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.Box {
  width: 300px;
  margin: 20px;
}

#faq-wrapper {
  width: 100%;
}

.details-overlay {
  margin: 10px 0;
  width: 100%;
}

summary.btn {
  width: 100%;
  padding: 10px 20px;
  white-space: normal;
}

@media screen and (max-width: 600px) {
  .jumbo-text {
    font-size: 2.25rem;
  }
}

#books-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.book {
  text-align: justify;
  padding: 20px;
  margin: 20px;
  height: 320px;
  width: 275px;
  border: 1px solid bisque;
  box-shadow: 1px 1px 4px rgb(182, 182, 182);
}
/* Footer Styles */

/* Modal Codes */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: none;
  height: 100%;
  width: 100%;
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 480px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
